@using PagedList
@using PagedList.Mvc
@model IPagedList<FinalProject.Models.product>
<head>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/fontawesome.min.css" integrity="sha512-t5T3Rc5ovESH1DDzUmPb7WDF91QvYVzP26HdUqABGy26RIiRRp5S4ygqEWDQbWmUqgMdUISpaESbM/iopIWHIg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
@foreach (var item in Model)
{

    <div class="col-12 col-sm-6 col-md-12 col-xl-6">
        <div class="single-product-wrapper">
            <!-- Product Image -->
            <div class="product-img">
                <a href="@item.meta/@item.id">
                    <img src="~/Content/img/product-img/@item.img" alt="">
                    <!-- Hover Thumb -->
                    <div class="view-details"><i class="fa fa-search"></i></div>
                </a>
            </div>

            <!-- Product Description -->
            <div class="product-description d-flex align-items-center justify-content-between">
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                    <div class="line" style="background-color: #177d4e;"></div>
                    @{
                        decimal price = Convert.ToDecimal(@item.price);
                    }
                    <p class="product-price" style="color: #177d4e;">@price.ToString("N0")<span style="font-family: Arial, Helvetica, sans-serif;">đ</span></p>
                    <a href="@item.meta/@item.id">
                        <div class="product-name">
                            <h6 style="font-family: Arial, Helvetica, sans-serif;">@item.name</h6>
                        </div>
                    </a>
                </div>
                <!-- Ratings & Cart -->
                <div class="ratings-cart text-right">

                    <div class="cart">
                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1" style="display:none">
                        <a class="btnAddToCart" data-id="@item.id" href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="~/Content/img/core-img/cart.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        <!-- Pagination -->
        <span>Trang @Model.PageNumber/@Model.PageCount</span>
        @Html.PagedListPager(Model, page => Url.Action("Index", "Product", new { meta = ViewBag.meta, page }))
    </div>
</div>
<style>
    .product-img {
        position: relative;
        overflow: hidden;
    }

        .product-img img {
            transition: transform .2s ease-out;
        }

        .product-img:hover img {
            transform: scale(1.05);
        }

        .product-img:hover:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
            z-index: 1;
        }

        .product-img:hover .view-details {
            display: block;
        }

        .product-img .view-details {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2rem;
            color: #fff;
            display: none;
            z-index: 2;
        }
    .view-details i {
        color: white;
        font-size: 1.5rem;
    }
    .single-product-wrapper {
        border: 2px solid #adab95;
        padding: 10px;
        background-color: #edebcf;
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    }
    .product-name {
        width: 100%;
    }

        .product-name h6 {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
</style>
